.intro__text {
  margin-bottom: 32px;
  font-size: 16px;
  color: white;
  line-height: 1.63;
  padding-right: 294px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    padding: 0;
  }
}
