.cover__title {
  font-size: 72px;
  line-height: 1.055;
  font-weight: 800;
  max-width: 560px;
  max-height: 152px;
  margin-top: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 72px;
    max-width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
